@media screen and (max-width: 851px) {

/* Header section starts here */
.nav-desktop {
    display: none;
}

.header-banner__content {
    width: 100%;
}
/* Header section ends here */

    /* About Us section starts here */
    .about-us__card-container {
        flex-direction: column;
        align-items: center;
    }

    .about-us__text-contentholder,
    .about-us__imageholder {
        min-width: 350px;
        margin: 20px 0;
    }
    /* About Us section ends here */

/* explore food starts here*/
.foodcard__items {
    margin: 20px 0;
}
/* explore food section ends here */

    /* faq section starts here */
    .faqs__items {
        min-width: 100%;
    }

    .faq__parallax {
        flex-direction: column;
    }
    /* faq section ends here */
}

/* footer section start here */
footer {
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.footer-icon__holder {
    margin: 20px 0;
}
/* footer section ends here */
